.DS_Store
/build
/target
/bin
/.gradle
/api/build
/api/target
/api/bin
/api/.gradle
/nashorn/build
/nashorn/target
/nashorn/bin
/nashorn/.gradle

#eclipse
.classpath
.project
.settings

#idea
*.iml
*.ipr
*.iws
